<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3 mb-5 rounded" style="margin: 20px 0px;background-color: red;height: 70px">
    <a class="navbar-brand" style="margin: 0px 10px;color: aliceblue;border: solid 5px white;padding-left: 5px;padding-right: 5px">
      Elevator Pitch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" style="color: white">LinkedIn Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="referral-email" style="color:white;">Referral Email</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
